<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=+, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Questrial&family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />


</head>
<body>
  <header>
    <div class="main-header">
            <div class="main-header-logo-search">

                <a href='/'><img id="logo-header" src="images/logo-mercado-liebre.svg" alt="logo mercado liebre"></a>
                
                <form action="/action_page.php" method="POST">
                <input id="input-header" type="search" placeholder="Buscar productos, marcas" >
                <button id="search-button-header" type="submit"><i class="fas fa-search"></i></button>
                </form>

            </div>
                        
            <div>     
                    <p id="text-header">
                        <i class="fas fa-hand-holding-usd"></i>
                        compra en cuotas y sin tarjeta de credito
                    </p>

            </div>
    </div>

    <div class="burger-menu-cont">
        <div class="burger-menu"><i class="fas fa-bars"></i></div>
    </div>

    <nav class="main-navbar">
        <ul class="left-navbar">
            <li><a href='#'>Ofertas</a></li>
            <li><a href='#'>Tiendas Oficiales</a></li>
            <li><a href='#'>Vender</a></li>
            <li><a href='#'>Ayuda</a></li>
        </ul>
        <ul class="right-navbar">
            <li><a href='/register'>Crea tu cuenta </a><i class="far fa-address-card"></i></li>
            <li><a href='/login'>Ingresa </a><i class="fas fa-sign-in-alt"></i></li>
            <li><a href='#'>Mis compras </a><i class="fas fa-shopping-basket"></i></li>
        </ul>
    </nav>

</header>

<section><img src="images\img-home-banner.jpg" alt="imagen banner"></section>

<main>
      <h3>Registro de Usuario</h3>
      <form class="prueba" action="/" method="POST">
          <div>
          <label for="name"></label><br>
          <input type="text" name="name" placeholder="Nombre Completos" required><br>
      </div>
      <div>
          <label for="user"></label><br>
          <input type="text" id="user" name="user" placeholder="Nombre de usuario" required><br>
      </div>
      <div>
          <label for="nacimiento"></label><br>
          <input type="date" id="nacimiento" name="nacimiento" placeholder="Fecha de nacimiento" required><br>
      </div>
      <div>
          <label for="domicilio"></label><br>
          <input type="text" placeholder="Domicilio" name="domicilio" required><br>
      </div>
      <div>
          <label for="tipoUsuario" required>Perfil del Usuario:</label><br>
          <input type="radio" id="Comprador" name="tipoUsuario">
          <label for="Comprador">Comprador</label>
          <input type="radio" id="vendedor" name="tipoUsuario">
          <label for="vendedor">Vendedor</label><br>
      </div>
      <div>
          <label>Categorias de Interes</label><br>
          <input type="checkbox" id="electro" name="electro">
          <label for="electro">Electro</label>
          <input type="checkbox" id="Moda" name="Moda">
          <label for="Moda">Moda</label>
          <input type="checkbox" id="Hogar" name="Hogar">
          <label for="Hogar">Hogar</label>
          <input type="checkbox" id="Juguetería" name="Juguetería">
          <label for="Juguetería">Juguetería</label>
          <input type="checkbox" name="Vida sana">
          <label for="Vida sana">Vida sana</label><br>
      </div>
      <div>
          <label for="fotoUsuario">Foto de Usuario</label><br>
          <input type="file" id="fotoUsuario"><br>
      </div>
      <div>
          <label for="contraseña">Contraseña</label><br>
          <input type="password" class="dato" required><br>
          <label for="confirmarContraseña">Confirmar Contraseña</label><br>
          <input type="password" class="dato" required><br>
      </div>
      <div>
          <button type="submit" class="iniciarsesion">enviar</button>
          <input type="reset" value="reset" class="iniciarsesion">
      </div>
      </form>
  </main>
  <footer>
    <div class="first-footer">
            <div>
                <i class="fas fa-credit-card icon-footer"></i>
                <h2>Pagá con tarjeta o en efectivo</h2>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </div>

            <div>
                <i class="fas fa-gift icon-footer"></i>
                <h2>Envío gratis desde $ 2.500</h2>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.
                </p>
            </div>

            <div>
                <i class="fas fa-user-shield icon-footer"></i>
                <h2>Seguridad, de principio a fin</h2>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.
                </p>
            </div>

    </div>
    <div class="lineaFooter"></div>
    <div>Copyright © 1999-2020 MercadoLiebre S.R.L.</div>

</footer>
</body>
</html>