/*.container {
    with:
    hight:

}*/

* {
    box-sizing: border-box;
    margin:0px;
    padding: 0px;
}

body{
    background-color: #EAC926;
    font-family: 'Roboto', sans-serif;
    
}

img {

    width: 100%;
}

#logo-header{
    margin-top: 25px;
    margin-left: 25px;
    width: 30%
}

/*----------------------------*/


#text-header{
    text-align: center;
}

.burger-menu{
    /*text-align: center;*/
    color: white;
    padding: 10px;
    background-color: #03264C;
    display: inline-block;
    border-radius: 5px;
    
}
.burger-menu-cont{
    text-align: center;
    margin-bottom: 10px;
}


/******************main************************/


.main-title{

    font-size: 24px;
    text-align: center;
}
.price-article{

    font-size: 18px;
}
.discount-article{

    font-size: 16px;
}
.description-article{

    font-size: 16px;
}

ul{
    list-style:none;
    padding: 0
}

ul li a{
    font-size: 12px;
    /*margin-left: -35px;*/
    text-decoration: none;
    color: black
}

#input-header{
    margin-top: 15px;
    margin-left: 10px;
    width: 250px
}

#search-button-header{
    margin-left: 10px;
    padding: 1px;
}

article{
    text-align: center;
}

footer{
    padding: 30px;
    text-align: center;
    background-color: white;
}

.icon-footer{
    color: blue;
    font-size: 2em;
    margin-bottom: 10px
}