/*.container {
    with:
    hight:

}*/

* {
    box-sizing: border-box;
    margin:0px;
    padding: 0px;
    font-size: 16px;
}


body{
    background-color: hsl(40, 11%, 95%);
    font-family: 'Roboto', sans-serif;
}

img {
    width: 100%;
}

/*------------HEADER----------------*/

header{
    background-color: #EAC926;
    /*padding: 20px;*/
   
}

.main-header{
    background-color: #EAC926;
    /*padding: 5px;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.logo{
    margin: 10px;
    width: 50%
}

.barraDeBusqueda{
    display: flex;
    justify-content: center;
    width: 50%;
}
.busqueda{
    width: 90%;
}
#BarraDeBusqueda{
    display: flex;
}

form{
    display: block;
    margin-top: 0em;
    }

#search-button-header{
    margin-left: 10px;
    padding: 1px;
}

#text-header{
    text-align: center;
    font-weight: 400px;
    padding-top: 20px
}

.main-header-bottom-bar{
    display: none;
}


.burger-menu{
    /*text-align: center;*/
    color: white;
    padding: 10px;
    background-color: #1259c3;
    display: inline-block;
    border-radius: 7px;
    
}
.burger-menu-cont{
    text-align: center;
    margin: 10px 0px;
}

.main-navbar{
    display: none;

}

ul{
    list-style:none;
    padding: 0;
    margin: 0;
}

ul li a{
    font-size: 17px;
    /*margin-left: -35px;*/
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 5px 0px;
}

#input-header{
    margin: 10px;
    width: 100px
}


/******************MAIN************************/

main {

    text-align: center;
    width: 90%;
    margin: auto; /*me centra todo el mail*/
    padding-top: 10px;
}

article{
    /*text-align: center;*/
    /*margin-top: 10px;
    margin-bottom: 10px;*/
    margin: 10px 0px;
    border-radius:solid 15px #000000; 
}

.main-title{
    font-size: 24px;
    text-align: center;
    color: #60645c;
    margin: 10px;
}

main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
   }
   
.caja2{

    border-top:solid 1px #ebebeb;
    padding: 15px;
    background-color: #ffffff;
    position: relative;
}
.camion{
    
    color: #39b54a;
    border-radius: solid black 50% 25% 25% 25%;
}
.precio-descuento{
    display: flex;
    justify-content: space-evenly;
    /*align-items: center;*/
}

.price-article{
    font-size: 18px;
}

.discount-article{
    font-size: 16px;
    color: #39b54a;
}

.description-article{
    font-size: 16px;
    display: none;
}

.container-article{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}


/******************FOOTER************************/

footer{
    padding: 30px;
    text-align: center;
    background-color: white;
}

.icon-footer{
    color: blue;
    font-size: 2em;
    margin-bottom: 10px
}

.lineaFooter {
    background-color: #ebebeb;
    padding: 1px 0px;
    margin: 20px 0px;
    width: 100%;
}

/******************MEDIA************************/

@media (min-width: 360px){
    
    .main-header{
        display: flex;
        flex-wrap: wrap;
        /*flex-direction: row;*/
        justify-content: space-between;
            
    }

    .logo{
        width: 30%;
        padding: 0px;
    }
    #barraDeBusqueda{
        width: 80%;
        justify-content: space-around;
    }
    
    .compraEnCuotas {
       
        padding: 0px;
    }

    article{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    
    form {
        display: flex;
        flex-grow: 45%;
        margin: 10px;
    }

}

@media (min-width: 768px){
    .burger-menu{
        display: none;
    }
    
   

    .main-navbar{
        display: block;
        display: flex;
     
        justify-content: space-between;
    }

    .main-navbar li{
      margin: 0px 8px;
    }

    .left-navbar{
        display: flex;
        /*justify-content: space-around;*/
        /*width: 45%;*/
    }

    .right-navbar{
        display: flex;
        /*justify-content: space-between;*/
        /*width: 45%;*/
    }

     /*.container-article{

        display: flex;
        flex-grow: initial;
        flex-wrap: wrap;
        justify-content: space-between;
    }*/
        
    article {
        max-width: 45%;
    }
    
    


}

@media (min-width: 1024px){
   
    article {
        max-width: 22.5%;
    }
}